extends _layout/layout

block variables
	- var title = "Mai Quoc Qui - Web developer"
	- var bodyclass = "homepage"

block body 
	include _layout/header
	main
		include _pages/ct-home
	include _layout/footer