header
	.header-intro
		.intro-bg(style="background:url(img/headerbg.jpg)center center no-repeat;background-size:cover")
		.intro-content
			.img
				img(src="img/avt.jpg", alt="")
			.caption
				.wellcome 
					strong Hi, 
					|my name is 
				.name 
					strong Quoc Qui 
					|Mai
				.cv Front-end Developer
				.des
					strong Previous: 
					span Front-end Developer at CanhCam.vn
					//- a(href="#!") View more
				.des
					strong Education: 
					span Industrial University of Ho Chi Minh City
					//- a(href="#!") View more
	nav.header-menu
		ul
			li
				a(href="#profile")
					.bg(style="background:url(img/menubg1.jpg) center center no-repeat;background-size: cover")
					.icon <i class="material-icons">person</i>
					.caption
						.name Profile
						.des Some words about me.
			li
				a(href="#resume")
					.bg(style="background:url(img/menubg2.jpg) center center no-repeat;background-size: cover")
					.icon <i class="material-icons">school</i>
					.caption
						.name Resume
						.des Some thing about my experience and skills.
			li
				a(href="#portfolio")
					.bg(style="background:url(img/menubg3.jpg) center center no-repeat;background-size: cover")
					.icon <i class="material-icons">computer</i>
					.caption
						.name Portfolio
						.des Have a spoon of my work.
			li
				a(href="#contact")
					.bg(style="background:url(img/menubg4.jpg) center center no-repeat;background-size: cover")
					.icon <i class="material-icons">email</i>
					.caption
						.name Contact
						.des Say hello or find me.
